<div class="row mt-2">
    <div class="col-12">
        <ng-container *ngFor="let content of articles">
            <ng-container [ngSwitch]="content.type">
                <app-article-description *ngSwitchCase="'description'" [articleDesc]='content'></app-article-description>
                <app-article-video *ngSwitchCase="'video'" [articleVideo]='content'></app-article-video>
                <app-article-document *ngSwitchCase="'document'" [articleDoc]='content'></app-article-document>
                <div class="border-bottom"></div>
            </ng-container>
        </ng-container>
    </div>
</div>
<app-satisfaction [articleId]="routeParams?.id"></app-satisfaction>