<div class="row mt-2">
    <div class="col-12">
        <ng-container *ngFor="let child of article?.children">
            <ng-container [ngSwitch]="child.type">
                <app-article-description *ngSwitchCase="'text'" [articleDesc]='child'></app-article-description>
                <app-article-video *ngSwitchCase="'video'" [articleVideo]='child'></app-article-video>
                <app-article-document *ngSwitchCase="'document'" [articleDoc]='child'></app-article-document>
                <div class="border-bottom"></div>
            </ng-container>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="article?.children?.length>0">
    <app-satisfaction #satisfactionComp [articleId]="articleId"></app-satisfaction>
</ng-container>