<div class="row mt-2 border-bottom">
    <div class="col-12">
        {{routeParams.getValue().id}}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 text-center mbt-primary-text">
        <h5 translate>Cette page a-t-elle répondu à votre question ?</h5>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="m-1 p-1 cursor-pointer"><i class="fas fa-smile text-warning bg-dark fa-2x rounded-circle overflow-hidden border border-dark"></i></div>
            <div class="m-1 h2">-</div>
            <div class="m-1 p-1 cursor-pointer"><i class="fas fa-frown text-warning bg-dark fa-2x rounded-circle overflow-hidden border border-dark"></i></div>
        </div>
    </div>
</div>