* {
    transition: all 0.5s;
}

.navbar-toggler {
    color: #00FC88 !important;
}

.navbar {
    background-color: #6A1FFF !important;
    color: #FFFFFF !important;
}

.active {
    background-color: #00FC88;
    color: #ffffff !important;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 1.2rem;
}

.disconet {
    justify-content: center !important;
    transition: all 0.5s;
}

.lgBtn{
    border-radius:50%;
    width:35px;
    height:35px;
    border: none;
    background-color: var(--mbtSecondary) !important;
    color: #2b2b2bbd !important;
    cursor: pointer;
}

