<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
    <div class="container-fluid">
        <a class="navbar-brand col-lg-3 col-sm-4 col-5 text-center mr-auto">
            <img src="./assets/img/MOBILETIC_Logo.png" alt="mobiletic logo" class="navbar-logo w-50 m-auto">
        </a>
        <div class="d-flex me-4">
            <span class="p-1 mx-1 lgBtn text-center h5" [class.lgBtnActive]="activeLg=='fr'" (click)="translateLanguageTo('fr')">Fr</span>
            <span class="p-1 mx-1 lgBtn text-center h5" [class.lgBtnActive]="activeLg=='de'" (click)="translateLanguageTo('de')">De</span>
            <span class="p-1 mx-1 lgBtn text-center h5" [class.lgBtnActive]="activeLg=='en'" (click)="translateLanguageTo('en')">En</span>
        </div>
    </div>
</nav>