.FilterActive{
    border-bottom: 2px solid var(--mbtPrimary) !important;
    padding-bottom: 10px !important;
    color: var(--mbtPrimary) !important;
}

.filterBtn:hover{
    border-bottom: 2px solid rgb(190, 190, 190);
    padding-bottom: 10px !important;
}