<div class="row d-flex align-items-center">
    <div class="col-12 border-bottom pb-2">
        <span class="p-1 mx-3 text-muted cursor-pointer filterBtn" [class.FilterActive]="true">
            <i class="fas fa-search"></i> Tout
        </span>
        <span class="p-1 mx-3 text-muted cursor-pointer filterBtn">
            <i class="far fa-image"></i> Images
        </span>
        <span class="p-1 mx-3 text-muted cursor-pointer filterBtn">
            <i class="far fa-play-circle"></i> Vidéos
        </span>
        <span class="p-1 mx-3 text-muted cursor-pointer filterBtn">
            <i class="far fa-file-alt"></i> Documents
        </span>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <pre>
            {{routeParams | json}}
        </pre>
        <pre>
            {{queryParams | json}}
        </pre>
    </div>
</div>