<div class="my-4">
    <h5 class="mbt-primary-text text-decoration-underline py-1">
        {{articleDoc?.label}}
    </h5>
    <div class="col-12">
        <a class="d-flex align-items-center" [href]="articleDoc?.uri" target="_blank"> 
            <i class="far fa-file-lines fa-3x mbt-primary-text"></i>
            <a class="m-3 p-1 text-muted text-decoration-underline" [href]="articleDoc?.uri">Consultez le document</a>
        </a>
    </div>
</div>
<!-- <pre>
    pdf{{articleDoc?.uri}}
</pre> -->