<div class="card text-right box-shadow">
    <div class="card-header">
        <h4 class="card-title">Title</h4>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <ul class="list-unstyled">
                <li *ngFor="let articleId of topArticles$ | async" class="m-2">
                    <a class="mbt-primary-text px-2 py-1" routerLink="{{activeLg$.getValue()}}/article/{{articleId}}" [routerLinkActive]="'articleActive'">{{articleId}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

