.contact{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: fit-content;
    // cursor: pointer;
    // box-shadow: 0 0 10px rgba(51, 51, 51, .1);
    // filter: drop-shadow(0 0 10px rgba(51, 51, 51, .25));
}