<div class="row d-flex align-items-center mt-3">
    <div class="col-12 border-bottom pb-2">
        <a class="p-1 mx-3 text-muted cursor-pointer filterBtn"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="FilterActive" [routerLink]="'.'"
            queryParamsHandling="merge" [queryParams]="{f: undefined}">
            <i class="fas fa-search pe-1"></i> {{'Tout' | translate}}
        </a>
        <a class="p-1 mx-3 text-muted cursor-pointer filterBtn"
            [routerLinkActiveOptions]="{exact: false}"
            routerLinkActive="FilterActive" [routerLink]="'.'"
            queryParamsHandling="merge" [queryParams]="{f: 'image'}">
            <i class="far fa-image pe-1"></i> {{'Images' | translate}}
        </a>
        <a class="p-1 mx-3 text-muted cursor-pointer filterBtn"
            [routerLinkActiveOptions]="{exact: false}"
            routerLinkActive="FilterActive" [routerLink]="'.'"
            queryParamsHandling="merge" [queryParams]="{f: 'video'}">
            <i class="far fa-play-circle pe-1"></i> {{'Videos'| translate}}
        </a>
        <a class="p-1 mx-3 text-muted cursor-pointer filterBtn"
            [routerLinkActiveOptions]="{exact: false}"
            routerLinkActive="FilterActive" [routerLink]="'.'"
            queryParamsHandling="merge" [queryParams]="{f: 'document'}">
            <i class="far fa-file-alt pe-1"></i> {{'Documents'| translate}}
        </a>
    </div>
</div>
<div class="card-body bg-hsla">
    <div class="col-12 pb-1">
        <div class="row my-3 text-end" *ngIf="haveResult">
            <span class="text-muted small-text">
                <span translate>{{'Environ' | translate}}</span> {{
                result?.total?.value ?? 0 }}
                <span
                    translate>{{'résultats' | translate}}</span> ({{
                result?.max_score?.toFixed(2) ??
                0}}
                <span translate>{{'secondes' | translate}}</span>)
            </span>
        </div>
        <ng-container *ngFor="let hit of result?.hits">
            <div class="row border-bottom">
                <ng-container *ngIf="!searchFilter">
                    <div class="hoverSerch">
                        <a routerLink="../article/{{hit?.code}}">
                            <app-article-description [articleDesc]='hit'></app-article-description>
                        </a>
                    </div>
                </ng-container>
                <ng-container *ngIf="searchFilter">
                    <ng-container [ngSwitch]="hit?.type">
                        <app-article-description *ngSwitchCase="'text'"
                            [articleDesc]='hit'></app-article-description>
                        <app-article-image *ngSwitchCase="'image'"
                            [articleImg]='hit'></app-article-image>
                        <app-article-video *ngSwitchCase="'video'"
                            [articleVideo]='hit'></app-article-video>
                        <app-article-document *ngSwitchCase="'document'"
                            [articleDoc]='hit'></app-article-document>
                        <app-article-document *ngSwitchCase="'pdf'"
                            [articleDoc]='hit'></app-article-document>
                        <div class="border-bottom"></div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="!haveResult">
            <div class="row mt-5">
                <p class="mb-0">{{'Aucun document ne correspond aux termes de
                    recherche spécifiés' | translate}}</p>
                <p class="fw-bold">({{searchValue}}).</p>
                <p class="mb-1">{{'Suggestions' | translate}} :</p>
                <ul>
                    <li>{{'Vérifiez l’orthographe des termes de recherche.' |
                        translate}}</li>
                    <li>{{'Essayez autres mots.' | translate}}</li>
                    <li>{{'Utilisez des mots clés plus généraux.' | translate}}</li>
                </ul>
            </div>

        </ng-container>

    </div>

</div>