.FilterActive {
  border-bottom: 2px solid var(--mbtPrimary) !important;
  padding-bottom: 10px !important;
  color: var(--mbtPrimary) !important;
}

.filterBtn:hover {
  border-bottom: 2px solid rgb(190, 190, 190);
  padding-bottom: 10px !important;
}

.bg-hsla em {
  background-color: #ffff00;
}

.small-text {
  font-size: 0.9rem;
}

.hoverSerch:hover {
  background-color: rgba(242, 242, 242, 0.758);
}

li {
  list-style: inside;
}
