<div class="row">
  <div class="col-3 text-center">
    <h1>{{'TITLE' | translate}}</h1>
  </div>
  
  <div class="col-5">
    <div class="search">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Have a question? Ask Now">
      <button class="btn mbt-primary">Search</button>
    </div>

  </div>
  <!-- <div class="col-5">
    <input type="search" name="search" id="search" placeholder="Sujet ou Mpt clé">
    <button class="btn mbt-primary">
      Recherche
    </button>
  </div> -->
  
  <div class="col-2 ms-auto btnManuel">
    <button class="btn mbt-primary">
      <img src="https://img.icons8.com/officel/16/000000/export-pdf.png"/>
      Manual de formation
    </button>
  </div>

</div>