<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    #RewriteRule ^(.*)$ app/$1 [L,NC,R]

    #RewriteRule ^app/(.*)$ /$1 [L,NC,R]
    #RewriteRule ^app/(.*[.js])$ /$1 [L,NC,R]

    #RewriteCond %{HTTP_HOST} ^([^.]+)\.(archive\.example\.com)$ [NC]
    #RewriteRule ^ http://%2/%1%{REQUEST_URI} [L,R=301]

    #RewriteRule !\.(js|ico|gif|jpg|png|bmp|swf|css|html)$ /$1 [NC,L]


</IfModule>
